@model IEnumerable<LTW_NTTinh_2024802010018.Models.Category>

<div class="col-lg-3 d-none d-lg-block">
    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px;">
        <h6 style="color:#fff;font-weight:bold" class="m-0">Danh mục sản phẩm</h6>
        <i style="color:#fff" class="fa fa-angle-down text-dark"></i>
    </a>
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="border-radius: 5px; width: calc(100% - 25px); z-index: 1;">
        <div class="navbar-nav w-100 overflow-hidden">
            @foreach (var item in Model)
            {
                <a style="background-color:aliceblue" href="@Url.Action("category_product", "Mart", new {id = item.CategoryID,i = 1})" class="nav-item nav-link">@item.CategoryName</a>
            }
        </div>
    </nav>
</div>
