
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}
@using (Html.BeginForm("contact", "Mart"))
{
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="@Url.Action("Index","Mart")">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Liên hệ</p>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Liên hệ với chúng tôi</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" maxlength="30" name="name" class="form-control" id="name" placeholder="Họ tên"required="required" data-validation-required-message="Bạn chưa nhập họ tên" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" maxlength="80" name="receiver" class="form-control" id="email" value="@ViewBag.email" placeholder="Email"required="required" data-validation-required-message="Bạn chưa nhập email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" maxlength="50" name="subject" class="form-control" id="subject" placeholder="Tiêu đề"required="required" data-validation-required-message="Bạn chưa nhập tiêu đề" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea maxlength="1000" class="form-control" name="message" rows="6" id="message" placeholder="Lời nhắn" required="required"data-validation-required-message="Hãy nhập lời nhắn"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                                GỬI
                            </button>
                        </div>
                        <p class="text-danger">@ViewBag.success</p>
                        <p class="text-danger">@ViewBag.Error</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Minimart - Cửa hàng tiện lợi</h5>
                <p>Chúng tôi sẽ trả lời mail của bạn sớm nhất trong vòng 24h</p>
                <div class="d-flex flex-column mb-6">
                    <h5 class="font-weight-semi-bold mb-3">Cửa hàng</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Thủ Khoa Huân, Thuận An, Bình Dương</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>minimart@gmail.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 123 456789</p>
                </div>
            </div>
        </div>
    </div>
}
