
@{
    ViewBag.Title = "Chính sách thanh toán";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">CHÍNH SÁCH</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Mart")">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Chính sách thanh toán</p>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="entry-title text-upper text-center">Chính Sách Thanh Toán</h1>
</div>
<div style="margin-left:65px" class="wrapbox-content-page">
    <div class="content-page ">
        <p>&nbsp;</p>
        <p style="margin-bottom: 11px;"><span style="font-size:11pt"><strong>Chính sách thanh toán</strong></span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt">Có 3 hình thức thanh toán, khách hàng có thể lựa chọn hình thức thuận tiện và phù hợp với mình nhất:</span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt"><strong>Cách 1: Thanh toán khi nhận hàng </strong></span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt">Thanh toán khi nhận hàng , khách hàng xem hàng tại nhà, thanh toán tiền mặt cho nhân viên giao nhận hàng.Hoặc thanh toán trực tiếp tại siêu thị</span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt"><strong>Cách 2: Thanh toán online qua cổng VNPay </strong></span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt">Thanh toán tiền trực tuyến qua các loại thẻ: ATM/Visa/MasterCard/JCB/QR Pay thông qua hình thức internet banking hoặc mobile banking.</span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt"><em>*ATM: chấp nhận các loại thẻ ngân hàng ATM hiện có mà VNPay đã liên kết</em></span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt"><strong>Cách 3: Thanh toán qua ví điện tử</strong></span></p>
        <p style="margin-bottom: 11px; text-align: justify;">&nbsp;</p>
        <p style="margin-bottom: 11px; text-align: justify;"><span style="font-size:11pt">Thanh toán trực tiếp qua hình thức ví điện tử Momo mà website đã tích hợp sẵn, thông qua mã QR Code động&nbsp; - khách hàng tạo đơn hàng – chọn Phương thức thanh toán qua ví điện tử Momo – sau đó tiến hành quét mã QR Code để tiến hành toanh toán trực tiếp qua ứng dụng Momo trên điện thoại thông minh.</span></p>
        <p>&nbsp;</p>
    </div>
</div>

