
@{
    ViewBag.Title = "Chính sách bảo hành";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">CHÍNH SÁCH</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Mart")">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Chính sách bảo hành</p>
        </div>
    </div>
</div>
<article style="margin-left:65px" class="content_rule">
    <div style="font-family:Arial; font-size:12px; line-height:25px; text-align:justify">
    <h2 style="text-align:center">
        <strong>
            <span style="font-size:18px">BẢO HÀNH - ĐỒI TRẢ</span>
        </strong>
    </h2>
    <p style="text-align:left">&nbsp;</p>
    <p style="text-align:left">
        <span style="font-size:14px">
        <strong>Siêu Thị Mini&nbsp;xin thông tin đến quý khách hàng chính sách đổi trả hàng hóa khi mua hàng tại hệ thống Siêu Thị Mini như sau:
            </strong>
        </span>
    </p>
    <p style="text-align:left">&nbsp;</p>
    <h3 style="text-align:left">
        <span style="font-size:16px">
        <strong>I. ĐỐI VỚI HÀNG LỖI TRONG VÒNG 35 NGÀY</strong>
            </span></h3><p style="text-align:left">
        <span style="font-size:14px">
        <strong>1. Đổi sản phẩm mới cùng model với điều kiện:</strong>
        </span>
    </p>
    <p style="text-align:left">
        <span style="font-size:14px"><br>- Đối với sản phẩm Gia dụng: PHẢI có biên bản xác nhận tình trạng của nhân viên Bảo hành chi nhánh + Phiếu xác nhận mua hàng + các PBH kèm theo, không đổi thùng.</span>
        </p>
    <p style="text-align:left">&nbsp;</p>
    <p style="text-align:left"><span style="font-size:14px"><strong>2. Đổi sản phẩm mới qua model khác:</strong></span></p>
    <p style="text-align:left"><span style="font-size:14px">- Model mới phải có trị giá lớn hơn hoặc bằng trị giá sản phẩm cũ, khách hàng bù phần chênh lệch.</span></p>
    <p style="text-align:left">&nbsp;</p><p style="text-align:left"><span style="font-size:14px"><strong>3. Khách hàng muốn trả lại hàng</strong></span></p>
    <p style="text-align:left"><span style="font-size:14px">Đối với các khách hàng muốn trả hàng, thì sẽ có mức tính phí trả hàng cụ thể như sau:<br>- Từ ngày 01 đến ngày 10: mức phí 10%<br>- Từ ngày 11 đến ngày 30: mức phí 20%<br>- Kể từ ngày 31 trở đi (tính từ ngày mua hàng): Không chấp nhận trả hàng.</span></p>
    <p style="text-align:left">&nbsp;</p><h3 style="text-align:left"><span style="font-size:16px"><strong>II. KHÁCH HÀNG MUỐN ĐỔI - TRẢ HÀNG TRONG TRƯỜNG HỢP HÀNG KHÔNG BỊ LỖI</strong></span></h3>
    <p style="text-align:left"><br><span style="font-size:14px"><strong>1. Đối với các sản phẩm hàng Gia dụng:</strong><br>Không chấp nhận đổi trả khi hàng không bị lỗi.</span></p>
    <p style="text-align:left"><br><span style="font-size:14px"><strong>- Đối với các trường hợp khác, Chi nhánh liên hệ Phòng Chăm Sóc Khách Hàng hoặc Phòng Thu Mua để được hướng dẫn.</strong></span></p>
    <p style="text-align:left">&nbsp;</p><h3 style="text-align:left"><span style="font-size:16px"><strong>III. QUY ĐỊNH VỀ BẢO HÀNH</strong></span></h3>
    <p style="text-align:left"><span style="font-size:14px"><strong>1. Các điều khoản được bảo hành:</strong>
        <br>- Sản phẩm hư do lỗi kỹ thuật của máy
        <br>- Khách hàng phải còn giữ hóa đơn và phiếu bảo hành (nếu sản phẩm bảo hành bằng PBH)
        <br>- Sản phẩm còn thời hạn bảo hành tính từ ngày mua và được đăng ký trên phiếu bảo hành hoặc hóa đơn kèm theo. Trường hợp khách hàng chưa đăng ký hoặc mất hóa đơn thì sản phẩm đó được bảo hành theo ngày xuất xưởng in trên PBH
        <br>- Thông tin trên phiếu không được tẩy xóa, số máy, kiểu máy phải phù hợp với số máy, kiểu máy ghi trên PBH hoặc chứng từ kèm theo</span><br>
        <br><span style="font-size:14px"><strong>2. Các điều khoản không được bảo hành:</strong>
        <br>- Sản phẩm hư không do lỗi kỹ thuật (do thiên tai, hỏa hoạn, sét đánh, ...)
        <br>- Sản phẩm bị rỉ sét, ăn mòn do chất lỏng đổ vào hoặc hư hỏng do côn trùng gây nên
        <br>- Sản phẩm lắp đặt, sử dụng không đúng kỹ thuật sai nguồn điện hoặc điện thế không ổn định
        <br>- Sản phẩm hết hạn bảo hành hoặc không có PBH và chứng từ kèm theo hợp lệ
        <br>- Sản phẩm hư hỏng do va chạm, cấn bể
        <br>- Phụ kiện kèm theo không được bảo hành.
        <br>- Sản phẩm thiếu linh kiện hoặc đã được sửa chữa ở những nơi khác ngoài các địa chỉ bảo hành được chỉ định kèm theo
       </span>
    <p style="text-align:left">&nbsp;</p><h3 style="text-align:left"><span style="font-size:16px"><strong>V. MỌI CHI TIẾT LIÊN HỆ TỔNG ĐÀI</strong></span></h3>
    <p style="text-align:left"><span style="font-size:14px"> - Bộ phận chăm sóc khách hàng Siêu Thị Mini
    <br>- Địa chỉ: 123 Thủ Khoa Huân, Thuận An, Bình Dương.
    <br>- Hotline: +84 123 456789
</span></p></div> </article>

