
@{
    ViewBag.Title = "Chính sách vận chuyển";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">CHÍNH SÁCH</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Mart")">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Chính sách vận chuyển</p>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="entry-title text-upper text-center">Chính Sách Vận Chuyển Giao Nhận</h1>
</div>
<div style="margin-left:65px" class="entry-content">
    <h4><span style="color: #454343;"><strong>CHÍNH SÁCH VẬN CHUYỂN GIAO NHẬN&nbsp;</strong></span></h4>
    <p><span style="color: #454343;"><strong>1. Quy trình vận chuyển giao nhận</strong></span></p>
    <p><span style="color: #45434e;"><span style="color: #454343;">Khi đơn đặt hàng đã được xác nhận, chúng tôi sẽ liên lạc với bạn để thông báo về thời gian giao hàng dự kiến. Trước khi giao hàng đội ngũ giao nhận sẽ liên hệ với quý khách qua điện thoại</span></span></p>
    <p><span style="color: #454343;">Nếu có bất kỳ thắc mắc nào liên quan đến chính sách vận chuyển giao nhận hàng hóa, hoặc bạn muốn kiểm tra tình trạng đơn hàng <strong>xin vui lòng liên hệ</strong> với nhân viên kinh doanh tiếp nhận đơn hàng của bạn hoặc gọi đến Bộ phận Chăm sóc Khách hàng số điện thoại&nbsp; <strong>0123456789</strong></span></p>
    <p><span style="color: #454343;"><strong>2. Chính sách chung</strong></span></p>
    <p><span style="color: #454343;">Đối với những đơn hàng lớn<strong>: </strong>&nbsp;<strong>Minimart</strong> sẽ giao hàng miễn phí tận nơi</span></p>
    <p><span style="color: #454343;">Đối với những đơn hàng có giá trị nhỏ: chi phí vận chuyển sẽ tùy thuộc vào khoảng cách địa lý, khối lượng đơn hàng và được thông báo cụ trên đơn hàng (ngoại trừ trường hợp một số mặt hàng nhận được sự hỗ trợ vận chuyển từ nhà sản xuất)</span></p>
    <p><span style="color: #454343;"><strong>3. Phương thức vận chuyển giao nhận</strong></span></p>
    <p><span style="color: #454343;">Khu vực trong tỉnh Bình Dương : đội ngũ giao nhận sẽ trực tiếp vận chuyển hàng hóa tới địa chỉ nhận hàng mà bạn yêu cầu hoặc bạn cũng có thể đến văn phòng, showroom của chúng tôi để nhận hàng</span></p>
    <p><span style="color: #454343;">Khu vực ngoài tỉnh Bình Dương và các tỉnh thành khác:&nbsp;chúng tôi sẽ chuyển hàng cho bạn thông qua <strong>Dịch vụ vận chuyển hàng hóa</strong> của các nhà xe : giao hàng tại nhà xe bạn chỉ định ( hoặc nhà xe chúng tôi đề xuất )</span></p>
    <h4><span style="color: #454343;">Cam Kết</span></h4>
    <p><span style="color: #454343;">Thời gian giao hàng cho bạn nhanh nhất cùng với cước phí hợp lý nhất</span></p>
    <p><span style="color: #454343;">Cung cấp các sản phẩm chính hãng từ các nhà sản xuất với mức giá hấp dẫn hơn tạo nên sự hài lòng và an tâm cho quý khách khi mua hàng từ chúng tôi</span></p>
</div>