<div class="carousel-inner">
    <div class="carousel-item active" style="height: 410px;">
        <img class="img-fluid" src="~/Images/nhomy.png" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">Trái cây tươi ngon được nhập khẩu từ nước ngoài</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Nho mỹ</h3>
                <a href="@Url.Action("mart_product", "Mart", new {id = 1})" class="btn btn-light py-2 px-3">Mua ngay</a>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="height: 410px;">
        <img class="img-fluid" src="~/Images/thiet-ke-poster-banner-quang-cao-chuyen-nghiep-baabrand-3.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm giá thức ăn nhanh vào cuối tuần</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">FastFood</h3>
                <a href="@Url.Action("mart_product", "Mart", new {id = 1})" class="btn btn-light py-2 px-3">Mua ngay</a>
            </div>
        </div>
    </div>
    <div class="carousel-item" style="height: 410px;">
        <img class="img-fluid" src="~/Images/slider3.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">Đa dạng sản phẩm - Tự do lựa chọn - Giá phù hợp</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Minimart</h3>
                <a href="@Url.Action("mart_product", "Mart", new {id = 1})" class="btn btn-light py-2 px-3">Mua ngay</a>
            </div>
        </div>
    </div>
</div>
<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-dark" style="width: 85px; height: 60px">
        <span class="carousel-control-prev-icon mb-n2"></span>
    </div>
</a>
<a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-dark" style="width: 85px; height: 60px">
        <span class="carousel-control-next-icon mb-n2"></span>
    </div>
</a>