@model IEnumerable<LTW_NTTinh_2024802010018.Models.OrderDetail>
<style>
    .container {
        background-color: aliceblue
    }

    .card {
        border: none
    }

    .logo {
        background-color: #808080ff
    }

    .totals tr td {
        font-size: 13px
    }

    .product-qty span {
        font-size: 12px;
        color: #000000
    }
</style>
@foreach (var item in Model)
{
    <div class="modal fade" id="detail-@item.OrderID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="min-width:1000px;" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">CHI TIẾT HÓA ĐƠN</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-5 mb-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="text-left logo p-2 px-5">
                                        <img src="~/Images/logo.png" width="50">
                                    </div>
                                    <div class="invoice p-5">
                                        <h5>Đơn hàng</h5>
                                        <div class="product border-bottom table-responsive">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    @foreach (var item1 in Model)
                                                    {
                                                        <tr>
                                                            <td width="70%">
                                                                @foreach (var i in ViewBag.pname)
                                                                {
                                                                    if (item1.ProductID == i.ProductID)
                                                                    {
                                                                        <span style="color:gray" class="font-weight-bold">@i.ProductName</span>
                                                                    }
                                                                   

                                                                }
                                                                <div class="product-qty">
                                                                    <span class="d-block">SL: @item1.Quantity</span>
                                                                </div>
                                                            </td>
                                                            <td width="30%">
                                                                <div class="text-right">
                                                                    <span class="font-weight-bold">@Html.FormatValue(item1.Amount, "{0:#,##0}") VNĐ</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <span>Minimart</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <label>@DateTime.Now.ToShortDateString()</label>
                </div>
            </div>
        </div>
    </div>
}
   