@model LTW_NTTinh_2024802010018.Models.GoodsReceivedNote

<div class="modal fade" id="del-@Model.GRNID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="min-width:1000px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">Hủy phiếu nhập</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Cancel"))
            {
                <div class="modal-body">
                    Chọn "Hủy" nếu muốn hủy phiếu nhập mã số #@Html.DisplayFor(model => model.GRNID)
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                    <input id="popup" type="submit" value="Hủy" style="font-size:large" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>





