@model LTW_NTTinh_2024802010018.Models.GoodsReceivedNote_Detail


<div class="modal fade" id="del-@Model.ItemID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="min-width:1000px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">Xoá sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Delete"))
            {
                <div class="modal-body">
                    Chọn "Hủy" nếu muốn xoá sản phẩm mã số #@Html.DisplayFor(model => model.ProductID) của phiếu nhập mã số #@Html.DisplayFor(model => model.GRNID)
                    <div class="form-group" hidden>
                        <label class="control-label col-md-2"> </label>
                        <div class="col-md-10">
                            <input type="text" size="20" placeholder="" name="ID3" value="@Model.ItemID" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                    <input id="popup" type="submit" value="Hủy" style="font-size:large" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>





