<div class="col-lg-3 col-6 text-right">
    <a href="@Url.Action("shopping_cart", "ShoppingCart")" class="btn border">
        <i class="fas fa-shopping-cart text-primary"></i>
        <span style="color:black;font-weight:900" class="badge">@ViewBag.TotalAmount</span>
    </a>
</div>
